
.mainheader
    {
        background-image: url(SWW1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 15px;

    }

.mainheader  .navbar-brand
    {
        font-size: 1.2em
    }

.mainheader .navbar-nav a
    {
        color: azure;
    }

.mainheader .navbar-nav a:hover
    {
        color: #ebb6ff;
    }

.mainparent
    {
    height: 100vh;
    background-color: navy;
        font-family: "Lucida Console";
        font-size: 1.2em
        text-align: left;
    }

.mainheader .navbar-toggler-icon
    {
        color: azure;
    }

.maincontent .spinner-border
    {
    color: #ff73e8;
    margin-top: 50%;
    margin-left: 50%;
    }
.maincontent
{
    color: #ff73e8;
    text-shadow: 5px 5px 5px #000000;
}
.mainparent .navbar-brand
{
    color: #ff73e8;
    text-shadow: 10px 10px 10px black;
}
.content
{
    background-image: url(Retro4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer
{
    background: linear-gradient(to right, rgba(0, 115, 255, 0.4), rgba(180, 49, 250, 0.4));
}
.images
{
    background-image: url("16P.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-top: -150px;
    width: 427px;
    height: 804px;
}
.iitimages







