
.mainheader
    {
        background-image: url(SWW1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
    }

.mainheader  .navbar-brand
    {
        font-size: 1.2em
    }

.mainheader .navbar-nav a
    {
        color: azure;
    }

.mainheader .navbar-nav a:hover
    {
        color:#4EFF00ff;
    }

.mainparent
    {
    height: 100vh;
    background-color: navy;
        font-family: "Lucida Console";
        font-size: 1.2em
        text-align: left;


    }

.mainheader .navbar-toggler-icon
    {
        color: azure;
    }

.maincontent .spinner-border
    {
    color: #FF19FBff;
    margin-top: 50%;
    margin-left: 50%;
    }
.maincontent
{
    color: #4EFF00ff;
}
.mainparent .navbar-brand
{
    color: #FF19FBff;
    text-shadow: 5px 5px 10px black;
}
.content
{
    background-image: url(Retro2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}







